---
const search = Astro.url.searchParams.get("search") || "";
---

<div class="flex-1">
  <form action="/search" method="get">
    <div class="relative p-1">
      <svg
        viewBox="0 0 24 24"
        class="h-4 w-4 text-gray-500 absolute top-1/2 left-4 transform -translate-y-1/2"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M21.53 20.46l-3.64-3.64c-.3-.3-.77-.3-1.07 0 -.3.29-.3.76 0 1.06l3.63 3.63c.29.29.76.29 1.06 0 .29-.3.29-.77 0-1.07Zm-3.64-2.58c1.81-1.82 2.85-4.28 2.85-6.9 0-5.39-4.37-9.75-9.75-9.75 -5.39 0-9.75 4.36-9.75 9.75 0 5.38 4.36 9.75 9.75 9.75 2.62 0 5.07-1.04 6.89-2.86Zm-1.07-1.07c-1.54 1.53-3.62 2.41-5.84 2.41 -4.56 0-8.25-3.7-8.25-8.25 0-4.56 3.69-8.25 8.25-8.25 4.55 0 8.25 3.69 8.25 8.25 0 2.21-.88 4.29-2.42 5.83Z"
        ></path>
      </svg>
      <input
        name="search"
        type="text"
        placeholder="Search..."
        autocomplete="off"
        value={search}
        class="w-full text-sm font-mono lowercase rounded-xl
        p-2 bg-gray-900 border border-gray-800 duration-400 ring-opacity-0 ring transition-all ring-orange-500
        text-gray-200 border-transparent focus:ring-opacity-100 focus:outline-none pl-10"
      />
    </div>
  </form>
</div>
